#mainContainer{
  padding: 1em;
  margin: 1em;
  border-radius: 25px;
  background-color:#6f6c6c50;
  box-shadow: var(--shadow-md);
  font-size: var(--text-md);
  font-family: var(--font-body);

}

#description{
  text-align: center;
}

h3{
  position: relative;
  display: flex;
  place-content: center;
  text-align: center;
  gap: 0.8em;
  color: var(--accent-text-over);
  border-radius: 20em;
  overflow: hidden;
  padding: 0.1em; 
  margin: 0.2em; 
  background: var(--gradient-accent-orange);
  box-shadow: var(--shadow-md);
  white-space: nowrap;

}
/**====================================*/
/**           theme dark
/**====================================*/
.theme-dark p,
.theme-dark label{
  color: var(	--gray-999);
  }


  .theme-dark input.question,
  .theme-dark textarea.question{
    color: var(	--gray-900);
  }

  .theme-dark input.question:focus + label > span,
  .theme-dark input.question:valid + label > span {
    color: var(--gray-600);
  }

  .theme-dark input.question + label > span,
  textarea.question + label > span {
    color: var(--gray-600);
  }
  .theme-dark h4, .theme-dark h5{
    color: var(--gray-900);
  }
/*? ----------------------button--------------------- */
button {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: var(--gray-900);
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 32px;
  font-weight: 700;
  height: 3rem;
  padding: 0 0.8rem;
  margin-top: 1rem;
  text-align: center;
  text-shadow: var(--shadow-md);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  /* box-shadow: var(--shadow-lg); */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  transition: box-shadow 0.5s ease;
}

button:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: 0.5s;
}

/*?=================================*/
/*?           min-width: 20em
/*?=================================*/
@media (min-width: 20em) {
  button {
    width: auto;
    height: auto;
  }
}
/*? ----------------------input range--------------------- */
input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 60%;
  background-color: #00000000;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 80%;
  height: 14px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: var(--gradient-accent-orange);
  border-radius: 25px;
  border: 0px solid #000101;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: var(--shadow-md);
  border: 1px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #65001c;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.6px;
}

.theme-dark input[type=range]::-webkit-slider-thumb {
  box-shadow: var(--shadow-dark-sm);
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: var(--gradient-accent-orange);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  /* box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d; */
  background: var(--accent-light);
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #65001c;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #ac51b5;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #ac51b5;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #65001c;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #ac51b5;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ac51b5;
}

input[type=range]::-webkit-slider-thumb,
input[type=range]::-moz-range-thumb,
input[type=range]::-ms-thumb {
  transition: all 0.1s ease;
}

/*? ----------------------input--------------------- */
input,
span,
label,
textarea {
  font-family: 'Ubuntu', sans-serif;
  display: block;
  margin: 10px;
  padding: 5px;
  border: none;
  font-size: 22px;
}

textarea:focus,
input:focus {
  outline: 0;
}

input.question,
textarea.question {
  font-size: 48px;
  font-weight: 300;
  border-radius: 2px;
  margin: 0;
  border: none;
  width: 80%;
  height: 100px;
  resize: vertical;
  background: rgba(0, 0, 0, 0);
  transition: padding-top 0.2s ease, margin-top 0.2s ease;
  overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */
  overflow: hidden; 
}

input.question + label,
textarea.question + label {
  display: block;
  position: relative;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  width: 10%;
  border-top: 1px solid red;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
  height: 0px;
}

input.question:focus + label,
textarea.question:focus + label {
  width: 80%;
}

input.question:focus,
input.question:valid {
  padding-top: 35px;
}

textarea.question:valid,
textarea.question:focus {
  margin-top: 35px;
}

input.question:focus + label > span,
input.question:valid + label > span {
  top: -100px;
  font-size: 22px;
  z-index: 100;
  color: var(--gray-400);
}


textarea.question:focus + label > span,
textarea.question:valid + label > span {
  top: -150px;
  font-size: 22px;
  color: var(--gray-100);
}

input.question:valid + label,
textarea.question:valid + label {
  border-color: green;
}

input.question:invalid,
textarea.question:invalid {
  box-shadow: none;
}

input.question + label > span,
textarea.question + label > span {
  font-weight: 300;
  margin: 0;
  position: absolute;
  color: var(--gray-400);
  font-size: 48px;
  top: -66px;
  left: 0px;
  -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

input[type="submit"] {
  -webkit-transition: opacity 0.2s ease, background 0.2s ease;
  transition: opacity 0.2s ease, background 0.2s ease;
  display: block;
  opacity: 0;
  margin: 10px 0 0 0;
  padding: 10px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: var(--gray-900);
}

input[type="submit"]:active {
  background: var(--gray-600);
}

input.question:valid ~ input[type="submit"], textarea.question:valid ~ input[type="submit"] {
  -webkit-animation: appear 1s forwards;
  animation: appear 1s forwards;
}

input.question:invalid ~ input[type="submit"], textarea.question:invalid ~ input[type="submit"] {
  display: none;
}

/*?=================================*/
/*?           min-width: 20em
/*?=================================*/
@media (min-width: 20em) {
    input, span, label, textarea {
      font-size: var(	--text-lg);
  }
  input.question, textarea.question {
    width: auto;
    height: auto;
  }

    input.question + label > span,
  textarea.question + label > span {
    font-size: var(--text-xl );
  }
}

/*? ----------------------checkbox--------------------- */
.checkbox-wrapper-47 input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.checkbox-wrapper-47 label {
  position: relative;
  padding-left: 2em;
  padding-right: 1em;
  line-height: 2;
  cursor: pointer;
  display: inline-flex;
}

.checkbox-wrapper-47 label::before {
  box-sizing: border-box;
  content: " ";
  position: absolute;
  top: 0.3em;
  left: 0;
  display: block;
  width: 1.4em;
  height: 1.4em;
  border: 2px solid var(--gray-500);
  border-radius: 6px;
  /* z-index: -1; */
}

.checkbox-wrapper-47 input[type=checkbox]:checked + label {
  padding-left: 1em;
  color: #2c047b;
  z-index: 1;
}
.checkbox-wrapper-47 input[type=checkbox]:checked + label:before {
  top: 0;
  width: 100%;
  height: 2em;
  background: #d9b7e6ed;
  border-color: #a639e1;
  z-index: -1;
}

.checkbox-wrapper-47 label,
.checkbox-wrapper-47 label::before {
  transition: 0.25s all ease;
}

/*?=================================*/
/*?           min-width: 20em
/*?=================================*/
@media (min-width: 20em) {
    #generatedPassword{
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  #generatedPassword h5{
    word-break: break-all;
}
}


@-webkit-keyframes appear {
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}
@media (min-width: 768px) {
  button {
    padding: 0 2.6rem;
  }
}