.menu {
  position: absolute;
  bottom: 25px;
  right: 60px;
  z-index: 500;
  height: 50px;
  border-radius: 25px;
  overflow: hidden;
  background: linear-gradient(
		150deg,
		#ca7879,
		#7611a6,
		#1c0056
	);
  box-shadow: 0px 6px 3px rgba(9, 11, 17, 0.01), 
  0px 4px 2px rgba(9, 11, 17, 0.01),
  0px 2px 2px rgba(9, 11, 17, 0.02),
  0px 0px 1px rgba(9, 11, 17, 0.03);
  transition: all .5s ease;
}

#menu-toggle {
  display: block;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  margin: 0;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;

  &:checked ~ ul {
    width: 270px;
    background-position: 0px -50px;
  display: flex;
  justify-content: center;
  }

  &:checked ~ .menu-toggle-icon {
    transform: rotate(45deg);
    transition: all .5s ease;
  }
}

.menu-items {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 50px;
  height: 50px;
  width: 0px;
  transition: .5s width ease;
  background-image: url("https://i.imgur.com/3d0vJzn.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.menu-item {
  display: inline-block;
  line-height: 50px;
  width: 50px;
  text-align: center;
  margin: 0;

  a {
    font-size: 1.25em;
    font-weight: bold;
    text-decoration: none;
    filter: brightness(0%) invert(100%);
  }
}

.menu-toggle-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  width: 30px;
  height: 30px;
  background-color: #000000;
  border-radius: 50%;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  transition: all .5s ease;
}

